<template>
  <div class="container">
    <div class="form">
      <div class="country-select">
        <select name="country" id="country" v-model="country">
          <option value="All"> All</option>
          <option v-for="(ct, ind) in countries" :value="ct" :key="ind">
            {{ ct }}
          </option>
        </select>
      </div>
      <div class="checkbox-filter">
        <input
          type="checkbox"
          class="checkbox"
          id="elite"
          value="0"
          v-model="proxyType"
        />
        <label for="elite">Elite</label>
      </div>

      <div class="checkbox-filter">
        <input
          type="checkbox"
          class="checkbox"
          id="anonimous"
          value="1"
          v-model="proxyType"
        />
        <label for="anonimous">Anonimous</label>
      </div>
      <div class="checkbox-filter">
        <input
          type="checkbox"
          class="checkbox"
          id="transparent"
          value="2"
          v-model="proxyType"
        />
        <label for="transparent">Transparent</label>
      </div>

      <div class="checkbox-filter">
        <input
          type="checkbox"
          class="checkbox"
          id="alive"
          value="2"
          v-model="alive"
        />
        <label for="alive">Alive</label>
      </div>
    </div>

    <div class="proxy-list">
      <proxy-list :proxies="filteredList" />
    </div>
  </div>
</template>

<script>
import ProxyList from "@/components/proxy/ProxyList.vue";
export default {
  name: "ProxyDisplay",

  data() {
    return {
      proxyType: [],
      country: "All",
      alive: 0
    };
  },

  components: {
    ProxyList
  },
  computed: {
    proxies() {
      return this.$store.getters.getAllProxies;
    },
    filteredList() {
      let proxies = this.proxies.slice();
      Object.values(this.registeredFilters).forEach(cb => {
        proxies = cb(proxies);
      });
      return proxies;
    },
    countries() {
      return this.$store.getters.getAllProxies
        .map(proxy => proxy.country)
        .reduce((acc, curr) => {
          if (!acc.includes(curr)) {
            acc.push(curr);
          }
          return acc;
        }, []);
    },
    /**
     * update the filter to be use to filter the proxies
     */
    registeredFilters() {
      let filters = {};
      if (!this.alive) {
        filters["country"] = this.identityFilter;
      } else {
        filters["country"] = this.filterByCountry;
      }
      if (this.country === "All") {
        filters["country"] = this.identityFilter;
      } else {
        filters["country"] = this.filterByCountry;
      }
      if (this.proxyType.length === 0) {
        filters["proxyType"] = this.identityFilter;
      } else {
        filters["proxyType"] = this.filterBytType;
      }
      return filters;
    }
  },
  methods: {
    /**
     * filter the items by country
     */
    filterByCountry(items) {
      return items.filter(proxy => proxy.country === this.country);
    },
    /**
     * filter by proxy type
     */
    filterBytType(items) {
      return items.filter(proxy =>
        this.proxyType.includes(`${proxy.proxy_type}`)
      );
    },
    /**
     * filter the proxy by status alive or not
     */
    filterByStatus(items) {
      return items.filter(proxy => proxy.alive);
    },
    identityFilter(items) {
      return items;
    }
  }
};
</script>

<style scoped lang="scss">
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;

  @media screen and (max-width: 400px) {
    width: 98vw;
    display: block;
  }
}

.form {
  width: 200px;
  padding: 10px;
  border-right: 2px solid black;

  @media screen and (max-width: 400px) {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
    border: none;
  }
}

.proxy-list {
  flex: 1;
  margin-left: 20px;
  @media screen and (max-width: 400px) {
    width: 100%;
    margin: 0;
  }
}
.country-select {
  width: 100%;
  margin-bottom: 15px;
  select {
    width: 80%;
    height: 25px;
    padding: 0 10px;
    font-size: 13px;
    background-color: lightslategrey;
    font-weight: 600;
  }
}
.checkbox-filter {
  width: 100%;
  padding: 5px 10px;
  display: flex;
}

input[type="checkbox"] {
  display: none;
}

label {
  font-size: 15px;
  font-weight: 600;
  vertical-align: bottom;
}
input[type="checkbox"] + label::before {
  content: "\2714";
  color: transparent;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 5px;
}
input[type="checkbox"]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}
</style>
