<template>
  <tr class="proxy-item">
    <td>{{ proxy.country }}</td>
    <td>{{ proxy.created | date }}</td>
    <td>{{ proxy.port }}</td>
    <td>{{ proxy.host }}</td>
    <td>{{ proxy.proxy_type }}</td>
    <td>{{ proxy.alive }}</td>
  </tr>
</template>

<script>
const month = [
  "Jan",
  "Feb",
  "March",
  "Apr",
  "May",
  "Jun",
  "July",
  "August",
  "Sept",
  "Oct",
  "Nov",
  "Dec"
];
export default {
  name: "ProxyItem",

  filters: {
    date: datetime => {
      const date = new Date(datetime);
      const year = date.getFullYear();
      const m = date.getMonth();
      const day = date.getDay();
      const timeHours = date.getHours();
      const timeMin = date.getMinutes();

      return `${month[m]} ${day}, ${year} At ${timeHours} : ${timeMin}`;
    }
  },
  props: {
    proxy: {
      country: { type: String, required: true },
      port: { type: Number, required: true }
    }
  }
};
</script>

<style scoped>
.proxy-item {
  width: 100%;
}
tr {
  height: 50px;
  text-align: center;
  font-size: 14;
}
tr:nth-of-type(even) {
  background-color: whitesmoke;
}
tr:nth-of-type(odd) {
  background-color: gray;
}
</style>
