<template>
  <div>
    <table class="proxy-table">
      <thead class="tab-header">
        <th>Country</th>
        <th>Create At</th>
        <th>Port</th>
        <th>Host</th>
        <th>Type</th>
        <th>Alive</th>
      </thead>
      <tbody>
        <proxy-item v-for="item in proxies" :key="item.id" :proxy="item" />
      </tbody>
    </table>
  </div>
</template>

<script>
import ProxyItem from "@/components/proxy/ProxyItem.vue";

export default {
  name: "ProxyList",
  props: {
    proxies: {
      type: Array,
      default: function() {
        return [];
      }
    }
  },
  components: {
    ProxyItem
  }
};
</script>

<style scoped>
table {
  border-spacing: 0px;
}
.proxy-table {
  width: 100%;
}

th {
  height: 35px;
}
.tab-header {
  background-color: bisque;
}
</style>
