<template>
  <div id="app">
    <proxy-display />
  </div>
</template>

<script>
import ProxyDisplay from "@/views/ProxyDisplay.vue";
export default {
  name: "app",
  components: {
    ProxyDisplay
  },
  beforeMount() {
    this.$store.dispatch("fetchProxies");
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
