<template>
  <div class="checkbox-filter">
    <input type="checkbox" id="elite" value="value" v-model="model" />
    <label for="elite">Elite</label>
  </div>
</template>

<script>
export default {
  props: ["model", "value"]
};
</script>

<style scoped></style>
