<template>
  <div>
    <!-- <input
      type="checkbox"
      :value="value"
      :id="id"
      v-on:change="updateFilter"
      v-model="isCkecked"
    /> -->
    <input type="checkbox" :checked="checked" />
    <label :for="id"> is Ckecked {{ checked }}</label>
  </div>
</template>

<script>
export default {
  name: "CheckBoxFilter",
  model: {
    event: "input",
    prop: "checked"
  },
  props: {
    id: {
      type: String,
      required: true
    },
    checked: {
      type: Array,
      default: function() {
        return [];
      }
    }
  },
  // data() {
  //   return {
  //     isCkecked: false
  //   };
  // },
  methods: {
    updateFilter() {
      if (this.isCkecked) {
        this.$emit("addfilter", this.value);
      } else {
        this.$emit("removefilter", this.value);
      }
    }
  }
};
</script>

<style scoped></style>
